@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Rubik+Wet+Paint&family=Rye&display=swap');

h1 {
    font-family: "Rye", serif;
    font-weight: 400;
    font-style: normal;
}