.addrestaurant{
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
}
.add-restaurant-form-container {
    width: 450px; /* Adjust width as needed */
    background-color: rgba(255, 255, 255, 0.8); /* Semi-transparent white */
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgb(231 128 35);
    margin: 30px 20px; /* Center the form */
  }
  
  .add-restaurant-form-container h2 {
    text-align: center;
    color: #d32f2f; /* Red accent color */
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .add-restaurant-form-container h2 img{
    height: 70px;
}
  
  .input-group {
    margin-bottom: 15px;
  }
  
  label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  input[type="text"],
  input[type="email"],
  input[type="tel"],
  input[type="file"],
  input[type="number"],
  textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
  }
  
  textarea {
    min-height: 100px;
  }
  
  button[type="submit"] {
    background-color: #d32f2f;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }
  