* {
  margin: 0;
  padding: 0;
}

/* Basic Styling */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  /* Example background */
  position: relative;
  /* Make navbar sticky */
  top: 0;
  width: 100%;
  z-index: 1;
  /* Ensure it's above content */
  background-color: transparent;
}

.logo {
  margin-left: 20px;
  cursor: pointer;
}

.logo img {
  height: 85px;
  /* Adjust logo size */
  /* margin-right: 20px; */
  
}

.nav-links {
  list-style: none;
  /* Remove default list styling */
  display: flex;
  margin-right: 15px;
  align-items: center;
}

.nav-links li {
  margin-left: 2rem;
  /* Space between links */
  cursor: pointer;
}

.nav-links a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
  transition: color 0.3s ease;
  font-size: 15px;
}

.nav-links a:hover {
  color:#dd7730;
  /* Example hover color (food-related) */
}

/* Call-to-Action Button Styling */
.cta-button button {
  background-color: #dd7730;
  /* Example button background */
  color: #333;
  padding: 10px;
  border: 0;
  border-radius: 5px;
  /* Rounded corners */
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  cursor: pointer;
  font-weight: bold;
  transition: transform 0.2s ease-in;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
.cta-button button img{
  height: 20px;
}

.cta-button button:hover {
  transform: scale(1.04);
}


/* Responsive Burger Menu Styling */
.burger {
  display: none;
  /* Hide on larger screens */
  cursor: pointer;
}

.burger div {
  width: 25px;
  height: 3px;
  background-color: #333;
  margin: 5px;
  transition: all 0.3s ease-in-out;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;

}

/* Media Query for Smaller Screens */
@media (max-width: 768px) {
  .nav-links {
    display: none;
  }

  .burger {
    display: block;
  }

  .nav-links.open {
    position: absolute;
    top: 100%;
    right: 0;
    justify-content: center;
    width: 60%;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    background: #dd7730;
    border-radius: 3px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  }


  .nav-links.open li {
    margin: 1rem 0;
  }

  .nav-links.open li Link:hover {
    color: white;
  }

  .burger.open .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
  }

  .burger.open .line2 {
    opacity: 0;
  }

  .burger.open .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
  }
}