.carContainer{
    margin-bottom: 70px;
        display: flex;
        align-items: center;
        justify-content: center;
        
}
.carousel-container{
    min-width: 95vw;
    height: 90vh;
    background-color: transparent;
    border-radius: 10px;
}
